VisualizzaPotenzaSistema 600 705 10 true
src/images/visualizzare.png
AggiungiPresa 659 705 6 true
src/images/piu.png
OnOffSistema 710 705 5 true
src/images/onOff.png
SalvaSistema 761 701 7 true
src/images/salvataggio.png
AggiungiLampadina 372 538 1 false
src/images/piu.png
VisualizzaInfoPresa 422 538 9 false
src/images/visualizzare.png
EliminaPresa 472 538 0 false
src/images/cestino.png
AumentaLuminosita 372 538 1 false
src/images/piu.png
DiminuisciLuminosita 422 538 2 false
src/images/meno.png
OnOffLampadina 472 538 8 false
src/images/onOff.png
CambiaColore 522 538 4 false
src/images/colori.png
VisualizzaInfoLampadina 572 538 9 false
src/images/visualizzare.png
EliminaLampadina 622 538 0 false
src/images/cestino.png